body{
    font-family: 'Montserrat', sans-serif;
    background-color: #a4a9a8;
}
header{
    padding: 5px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 10px;
}
header h1{
    margin-bottom: 0%;
    margin-top: 1%;
}
header p{
    font-size: 1vw;
    margin-top: 5px;
}
header p:hover{
    font-style: unset;
    font-size: 1vw;
    margin-top: 5px;
}
.container{
    width: 100%;
    margin-top: 1%;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 1vw;
}
.isi{
    text-align: justify;
    margin-right: 4%;
}
.sip{
    margin: 30px;
    width: 35%;
    height: auto;
    border-radius: 10px;
    border: #1c3b31 solid 2px;
    border-left: #1c3b31 solid 2px;
}
.sip:hover{
    border: #1c3b31#00ffaa solid 2px;
    border-left: #1c3b31 solid 4px;
}
.ok
{
    margin: 10px;
}
.atas{
    display: flex;
}
video{
    width: 20%;
    height: 10%;
}
.foto{
    width: 100%;
    display: flex;
    gap: 2%;
    justify-content: center;
    margin: 0;
    flex-wrap: wrap;
    padding: 0 20px;
    box-sizing: border-box;
}
.pic{
    flex: 1 1 150px;
    text-align: center;
    max-width: 220px;
}
.pic img{
    border: #fff solid 1px;
    border-radius: 10px;
    width: 90%;
    height: auto;
}
.kegiatan{
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
    margin-bottom: 30px;
}
.ket{
    font-style: italic;
    color: orange;
}
a{
    background-color: #fff;
}
.medsos{
    text-align: center;
}
article{
    text-align: justify;
    margin: 3%;
}